################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/MongoFusion_API/MongoFusion_API/MongoFusion_API.csproj
